<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>assignment_turned_in</mat-icon>
    </div>
    <mat-card-title>Last Activities</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-list role="list" *ngIf="movementList$ | async as movements; else empty">
      <ng-container *ngFor="let movement of movements">
        <mat-list-item [routerLink]="movement._id">{{ movement.concept }}</mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>
<ng-template #empty>
  <h1> CARGANDO ...</h1>
</ng-template>

<!-- <h1>Ultimos movimientos</h1>
<ul>
  <li *ngFor="let movement of movements" routerLink="{{ movement }}">{{ movement }}</li>
  <li routerLink="super">super</li>
</ul> -->
