<!-- <p>movement works!</p>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon [color]="priorityColors[task.priority]">assignment</mat-icon>
    </div>
    <mat-card-title>{{ task.description }}</mat-card-title>
    <mat-card-subtitle>{{ task.dueDate | date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [color]="stateColors[0]">Complete</button>
    <button mat-button [color]="stateColors[1]">In progress</button>
    <button mat-button [color]="stateColors[2]">Canceled</button>
  </mat-card-actions>
</mat-card> -->
