<mat-card class="example-card" *ngIf="movement$ | async as movement">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>assignment</mat-icon>
      </div>
      <mat-card-title>{{ movement.concept | uppercase }}</mat-card-title>
      <mat-card-subtitle>{{movement.dueDate}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="example-button-row">
        <button mat-raised-button color="primary">Complete</button>
        <!-- <button mat-raised-button color="accent">In progress</button> -->
        <button mat-raised-button color="warn">Cancel</button>
      </div>
    </mat-card-actions>
  </mat-card>
